/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and main container styling */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Main container with flex to create two sections */
.main {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Left side styling */
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

.left img {
    width: 300px;
    margin-bottom: 20px;
}

.left form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.left form label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

.left form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.left form input:focus {
    border-color: #007BFF;
    outline: none;
}

.left form a {
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 15px;
    text-align: center;
}

.left form a:hover {
    text-decoration: underline;
}

.left form button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.loginButton {
    padding: 10px;
    background-color: #aec6ff;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.left form button:hover {
    background-color: #0056b3;
}

/* Right side styling */
.right {
    flex: 1;
    background-image: url('/images/Poster.jpeg');
    background-size: cover;
    background-position: center;
}
